{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5" xmlns="http://www.w3.org/1999/html">
 <div class="row">
  <div class="col-sm-3">
   Side Bar for Mobile filter
   <div class="list-group">
    <a href="{% url 'mobile' %}" class="list-group-item
       list-group-item-action" aria-current="true">All Mobiles</a>
    <a href="{% url 'mobiledata' 'Samsung' %}" class="list-group-item list-group-item-action" aria-current="true">Samsung</a>
    <a href="{% url 'mobiledata' 'Apple' %}" class="list-group-item list-group-item-action" aria-current="true">Apple</a>
    <a href="{% url 'mobiledata' 'Vivo' %}" class="list-group-item list-group-item-action" aria-current="true">Vivo</a>
    <a href="{% url 'mobiledata' 'above' %}" class="list-group-item list-group-item-action" aria-current="true">Above 10000</a>
    <a href="{% url 'mobiledata' 'below' %}" class="list-group-item list-group-item-action" aria-current="true">Below 10000</a>
   </div>
  </div>
  <div class="col-sm-8 offset-sm-1">
   Mobile Product List
   <div class="row">
    {% for m in mobile %}
    <div class="col-sm-4 text-center mb-4">
     <a href="{% url 'pdetails' m.id %}" class="btn">
     <div class="item">
      <img src="{{ m.product_image.url }}" alt="" height="300" class="">
         <div class="fw-bold">{{ m.title }}</div>
         <div class="fw-bold">Rs.{{ m.discounted_price }}</div>
         <small class="fw-light text-decoration-line-through">{{ m.selling_price }}</small></div></a>
     </div>
       {% endfor %}
    </div>
   </div>
  </div>
 </div>
{% endblock main-content %}